In [1]:
import pandas as pd
import numpy as np
from selenium import webdriver

In [2]:
browser = webdriver.Chrome("chromedriver.exe")

# API

In [8]:
weather_api = "c325739d82724cce88483719191103"
url = "http://api.apixu.com/v1/current.json?key=c325739d82724cce88483719191103&q=Bangalore"

In [9]:
import requests#for json it is good

requests.get(url)

In [10]:
#online json viwer
k = requests.get(url).json()#getting json temp file
k

{'location': {'name': 'Bangalore',
  'region': 'Karnataka',
  'country': 'India',
  'lat': 12.98,
  'lon': 77.58,
  'tz_id': 'Asia/Kolkata',
  'localtime_epoch': 1552294127,
  'localtime': '2019-03-11 14:18'},
 'current': {'last_updated_epoch': 1552293909,
  'last_updated': '2019-03-11 14:15',
  'temp_c': 33.0,
  'temp_f': 91.4,
  'is_day': 1,
  'condition': {'text': 'Partly cloudy',
   'icon': '//cdn.apixu.com/weather/64x64/day/116.png',
   'code': 1003},
  'wind_mph': 10.5,
  'wind_kph': 16.9,
  'wind_degree': 80,
  'wind_dir': 'E',
  'pressure_mb': 1017.0,
  'pressure_in': 30.5,
  'precip_mm': 0.0,
  'precip_in': 0.0,
  'humidity': 23,
  'cloud': 50,
  'feelslike_c': 31.3,
  'feelslike_f': 88.4,
  'vis_km': 10.0,
  'vis_miles': 6.0,
  'uv': 8.0}}

In [12]:
k["current"]["temp_c"]

33.0

In [15]:
weather_api = "c325739d82724cce88483719191103"
loc = "Delhi"
url = "http://api.apixu.com/v1/current.json?key=c325739d82724cce88483719191103&q=%s" %loc
result = requests.get(url).json()#getting json temp file
result

{'location': {'name': 'Delhi',
  'region': 'Delhi',
  'country': 'India',
  'lat': 28.67,
  'lon': 77.22,
  'tz_id': 'Asia/Kolkata',
  'localtime_epoch': 1552295070,
  'localtime': '2019-03-11 14:34'},
 'current': {'last_updated_epoch': 1552294816,
  'last_updated': '2019-03-11 14:30',
  'temp_c': 25.0,
  'temp_f': 77.0,
  'is_day': 1,
  'condition': {'text': 'Mist',
   'icon': '//cdn.apixu.com/weather/64x64/day/143.png',
   'code': 1030},
  'wind_mph': 9.4,
  'wind_kph': 15.1,
  'wind_degree': 160,
  'wind_dir': 'SSE',
  'pressure_mb': 1013.0,
  'pressure_in': 30.4,
  'precip_mm': 0.2,
  'precip_in': 0.01,
  'humidity': 44,
  'cloud': 50,
  'feelslike_c': 25.6,
  'feelslike_f': 78.0,
  'vis_km': 3.5,
  'vis_miles': 2.0,
  'uv': 6.0}}

In [27]:
df = pd.DataFrame()
weather_api = "c325739d82724cce88483719191103"
cities = ["chennai","Bangalore","Hyderabad","Pune","London","Coimbatore","Kashmir"]
for loc in cities:
    url = "http://api.apixu.com/v1/current.json?key=c325739d82724cce88483719191103&q=%s" %loc
    result = requests.get(url).json()#getting json temp file
    dict1 = pd.Series({"Place":result["location"]["name"],"country":result["location"]["country"],
                       "Temp_c":result["current"]["temp_c"],"Wind":result["current"]["wind_kph"],
                       "Lat":result["location"]["lat"],"Long":result["location"]["lon"]})
    df = df.append(dict1,ignore_index=True)

In [28]:
df

     Lat   Long       Place  Temp_c  Wind         country
0  13.08  80.28     Chennai    35.0  16.9           India
1  12.98  77.58   Bangalore    33.0  13.0           India
2  17.38  78.47   Hyderabad    38.0  15.1           India
3  18.53  73.87        Pune    31.7  11.9           India
4  51.52  -0.11      London     6.0  25.9  United Kingdom
5  10.99  76.96  Coimbatore    35.0  15.1           India
6  29.03  67.95     Kashmir    21.5   1.8        Pakistan

# get restaurants names in Bangalore

In [32]:
api_key = "c4580aedc4bb7c6ff54bc168b267e833"
headers = {"user-key":api_key}
url = "https://developers.zomato.com/api/v2.1/categories"
catagories = requests.get(url, headers=headers).json()

In [51]:
catagories

{'categories': [{'categories': {'id': 1, 'name': 'Delivery'}},
  {'categories': {'id': 2, 'name': 'Dine-out'}},
  {'categories': {'id': 3, 'name': 'Nightlife'}},
  {'categories': {'id': 4, 'name': 'Catching-up'}},
  {'categories': {'id': 5, 'name': 'Takeaway'}},
  {'categories': {'id': 6, 'name': 'Cafes'}},
  {'categories': {'id': 7, 'name': 'Daily Menus'}},
  {'categories': {'id': 8, 'name': 'Breakfast'}},
  {'categories': {'id': 9, 'name': 'Lunch'}},
  {'categories': {'id': 10, 'name': 'Dinner'}},
  {'categories': {'id': 11, 'name': 'Pubs & Bars'}},
  {'categories': {'id': 13, 'name': 'Pocket Friendly Delivery'}},
  {'categories': {'id': 14, 'name': 'Clubs & Lounges'}}]}

In [53]:
df_category = pd.DataFrame()
for catagory in catagories["categories"]:
    df_category = df_category.append(catagory["categories"],ignore_index=True)

In [54]:
df_category

      id                      name
0    1.0                  Delivery
1    2.0                  Dine-out
2    3.0                 Nightlife
3    4.0               Catching-up
4    5.0                  Takeaway
5    6.0                     Cafes
6    7.0               Daily Menus
7    8.0                 Breakfast
8    9.0                     Lunch
9   10.0                    Dinner
10  11.0               Pubs & Bars
11  13.0  Pocket Friendly Delivery
12  14.0           Clubs & Lounges