In [3]:
import pandas as pd

In [26]:
from selenium import webdriver
browser = webdriver.Chrome("chromedriver.exe")

In [4]:
#browser.get("http://localhost:8000/new_book.html")
browser.get("https://www.naukri.com/data-science-jobs")

In [5]:
parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
len(parents)

50

In [19]:
job_df = pd.DataFrame()

for job in parents:
    job_id = job.get_attribute("id")
    url = job.get_attribute("data-url")
    title = job.find_element_by_css_selector("li.desig").get_attribute('title')
    company = job.find_element_by_css_selector("span.org").text
    experience = job.find_element_by_css_selector("span.exp").text
    location = job.find_element_by_css_selector("span.loc").text
    keyskill = job.find_element_by_css_selector("span.skill").text
    salary = job.find_element_by_css_selector("span.salary").text
    date = job.find_element_by_css_selector("span.date").text
    job_dict = {"job_id":job_id,"url":url,"title":title,"company":company,"experience":experience,"location":location,"keyskill":keyskill,
               "salary":salary,"date":date}
    job_df = job_df.append(job_dict,ignore_index=True)
job_df

,company,date,experience,job_id,keyskill,location,salary,title,url
0,Keyassignments IT Solutions Pvt Ltd,1 day ago,4-7 yrs,070518004367,"Python, R, Unix, Linux, SQL",Bengaluru,Not disclosed,"Data Science @sapient(perm) ,",https://www.naukri.com/job-listings-Data-Scien...
1,"Optum, a UnitedHealth Group Company",1 day ago,8-13 yrs,050319900979,"Senior Manager - Data Science - Gurgaon, HR",Gurgaon,Not disclosed,"Senior Manager - Data Science - Gurgaon, HR",https://www.naukri.com/job-listings-Senior-Man...
2,vConstruct Private Limited,1 day ago,8-13 yrs,050319008025,"Data Mining, Data Analysis, Data Science, Pric...",Pune(Hadapsar),Not disclosed,Data Science Business Manager,https://www.naukri.com/job-listings-Data-Scien...
3,Accenture,1 day ago,1-5 yrs,010319901757,"Python, Data modeling, MATLAB, SPSS, Computer ...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
4,Shell India Markets Private Limited,2 days ago,2-3 yrs,040319900570,"Factor Analysis, Deep Learning, Neural Network...",Chennai,Not disclosed,Team Lead - Data Science,https://www.naukri.com/job-listings-Team-Lead-...
5,Cognizant Technology Solutions India Ltd,15 days ago,3-6 yrs,190219004818,"Data Science / Spark, Azure ML, R, Python, Mac...","Chennai, Hyderabad",Not disclosed,Data Science/spark Professional,https://www.naukri.com/job-listings-Data-Scien...
6,WebTek Labs Pvt. Ltd.,1 day ago,2-5 yrs,050319005958,"presentable, data science, communication skill...",Delhi NCR(Rajouri garden),"2,00,000 - 3,50,000 P.A.",Data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...
7,Accenture,12 days ago,1-4 yrs,220219901505,"MATLAB, Analytical, Python, Data mining, Analy...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
8,Avyayh,2 days ago,6-11 yrs,120219009028,"data science, spark, python, postgresql",Chennai,"10,00,000 - 18,00,000 P.A.",Opening for Data Science With the Leadng Produ...,https://www.naukri.com/job-listings-Opening-fo...
9,Accenture,12 days ago,1-4 yrs,220219901499,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
10,HuQuo Consulting Pvt. Ltd.,1 day ago,2-5 yrs,050319005681,"Analyst - Data Science, Python, SQL, R, machin...",Gurgaon,Not disclosed,Senior Analyst - Data Science - Iit/nit/iim/xl...,https://www.naukri.com/job-listings-Senior-Ana...
11,Value C Consulting Services Private Limited,3 days ago,10-20 yrs,030319000605,Data Scientist,"Singapore, United Kingdom (U.K)","50,00,000 - 1 Cr & above P.A.",Vice President- Data Science,https://www.naukri.com/job-listings-Vice-Presi...
12,Impendi Analytics,1 day ago,1-3 yrs,010319902764,"statistical modeling, predictive modeling, r, ...",Delhi,Not disclosed,Business Analyst - Data Science - Iit/bits/nsit,https://www.naukri.com/job-listings-Business-A...
13,Crescendo Global Services,1 day ago,6-10 yrs,020319002201,"Natural Language Processing, Data Science, Mac...",Delhi NCR,"18,00,000 - 25,00,000 P.A.",Manager- Data Science Machine Learning Enginee...,https://www.naukri.com/job-listings-Manager-Da...
14,Allstate Solutions Private Limited,6 days ago,2-4 yrs,270219904507,"hadoop, hive, deep learning, r, text mining, m...",Bengaluru,Not disclosed,Consultant - Data Science,https://www.naukri.com/job-listings-Consultant...
15,Amazon Development Centre (India) Pvt. Ltd.,5 days ago,3-8 yrs,260219009302,"data science, business analysis, sql, Analytic...",Chennai,"12,00,000 - 22,00,000 P.A.",Product Analyst (data Science),https://www.naukri.com/job-listings-Product-An...
16,Accenture,12 days ago,1-4 yrs,220219901498,"MATLAB, Python, Data mining, Analytics, Machin...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
17,Tiger Analytics,6 days ago,2-6 yrs,280219901770,"C, Data Science, Machine Learning, R, Python, ...",Chennai,Not disclosed,Senior Analyst - Data Science,https://www.naukri.com/job-listings-Senior-Ana...
18,QuickXpert Infotech,4 days ago,3-8 yrs,250219001537,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...
19,Emerging India,12 days ago,3-8 yrs,220219005029,"deep learning, r, nosql, data science, nlp, sq...","Delhi NCR, Noida","6,00,000 - 10,00,000 P.A.",Data Scientist/data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...
20,Accenture,13 days ago,2-5 yrs,200219900928,"Python, MATLAB, Data mining, Machine learning,...",Bengaluru,Not disclosed,Data Science (jupyter/azure Ml/matlab),https://www.naukri.com/job-listings-Data-Scien...
21,Fidel Softech Pvt. Ltd,5 days ago,3-7 yrs,010319003738,"data science, elixir, python, scala, Data Visu...",Japan,Not disclosed,Data Science Engineer,https://www.naukri.com/job-listings-Data-Scien...
22,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904505,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...
23,Search Folks,5 days ago,5-10 yrs,270219904274,"Spark, Hive, Oozie, Sqoop, SCALA, Big Data, El...",Bengaluru,Not disclosed,Data Science Engineer - AWS Certified,https://www.naukri.com/job-listings-Data-Scien...
24,Allstate Solutions Private Limited,6 days ago,6-8 yrs,270219904504,"Hadoop, Hive, Deep Learning, R, Text Mining, M...",Bengaluru,Not disclosed,Lead Consultant - Data Science,https://www.naukri.com/job-listings-Lead-Consu...
25,Dataone,13 days ago,4-7 yrs,210219006647,"Data Science, Machine Learning, Open Source",Ahmedabad,Not disclosed,Senior Data Science Engineer,https://www.naukri.com/job-listings-Senior-Dat...
26,Cognizant,5 days ago,3-6 yrs,260219006665,"Data Science, Machine Learning, Python, R, Spa...","Hyderabad, Chennai",Not disclosed,Data Science/spark Developer - Machine Learnin...,https://www.naukri.com/job-listings-Data-Scien...
27,rp consultant,7 days ago,5-10 yrs,270219000191,".net, java, cloud, devops, hadoop, asic / soc ...","Bengaluru, Chennai, Hyderabad","12,00,000 - 22,00,000 P.A.","Asic/soc Verification Experts in Ie&s,.net/ang...",https://www.naukri.com/job-listings-Asic-soc-V...
28,TalPro,7 days ago,8-12 yrs,270219002811,"Machine Learning, Web Technologies, Chief Inte...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...
29,Blue Jay Finlease Limited,5 days ago,8-12 yrs,270219004361,"Data Science, Machine Learning, Python, R, SQL...",Delhi NCR,"20,00,000 - 35,00,000 P.A.",Data Science Manager || Ziploan,https://www.naukri.com/job-listings-Data-Scien...
30,AXA Business Services Pvt Ltd,9 days ago,3-5 yrs,250219002649,"Text Mining, Data Science, Java, Machine Learn...",Bengaluru,Not disclosed,Associate Data Science Consultant,https://www.naukri.com/job-listings-Associate-...
31,Crosstab IT Consulting,1 day ago,14-18 yrs,010319903158,"ML, AI, Python, R, Data Science, AI / ML Resea...",Bengaluru,Not disclosed,Sr. Manager Data Science,https://www.naukri.com/job-listings-Sr-Manager...
32,TalentStack/ The Hiring Story,1 day ago,3-7 yrs,020319001085,"sql database, r, analytics, macros, time serie...",Mumbai,Not disclosed,Data Science Developer - Analytics/alteryx,https://www.naukri.com/job-listings-Data-Scien...
33,American Express Company,2 days ago,0-3 yrs,040319500081,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,Business Analyst/ Asst. Manager - Global Comme...,https://www.naukri.com/job-listings-Business-A...
34,Asterion Consulting Pvt. Ltd,1 day ago,4-8 yrs,210219007404,"deep learning, text mining, data science, hive...",Bengaluru,Not disclosed,Lead - Data Science,https://www.naukri.com/job-listings-Lead-Data-...
35,TalPro,7 days ago,8-12 yrs,270219001836,"Machine Learning, Chief Intelligence Officer, ...","Delhi NCR, Mumbai, Bengaluru, Gurgaon",Not disclosed,Chief Intelligence Officer - Data Science & An...,https://www.naukri.com/job-listings-Chief-Inte...
36,Atria Biosciences,5 days ago,0-2 yrs,010319003178,"Data Science, Big Data, big analysis, R Progra...","Mumbai, Bengaluru, Chennai, Hyderabad, Pune, K...","3,00,000 - 4,75,000 P.A.",Immediately Need Data Science Instructor,https://www.naukri.com/job-listings-Immediatel...
37,Jardine Lloyd Thompson India Pvt Ltd.,2 days ago,5-7 yrs,040319501012,"Sql, Macros, Analytical, Automation, Open Sour...",Mumbai,Not disclosed,Senior Specialist Data Science,https://www.naukri.com/job-listings-Senior-Spe...
38,Huquo Consulting Pvt. Ltd,6 days ago,2-5 yrs,280219901594,"Machine Learning, Neural Networks, Data Scienc...",Gurgaon,Not disclosed,Analyst - Data Science - Consulting Firm,https://www.naukri.com/job-listings-Analyst-Da...
39,DIGIFOCAL IT SOLUTIONS PRIVATE LIMITED,5 days ago,2-5 yrs,280119001294,"sas, r, python, analytics, machine learning, p...",Mumbai,"5,00,000 - 10,00,000 P.A.",Job Opening for Data Science,https://www.naukri.com/job-listings-Opening-fo...
40,American Express Services India Pvt. Ltd.,2 days ago,0-3 yrs,040319500094,"Unix, Monitoring, Python, Analytics, Machine l...",Gurgaon,Not disclosed,Business Analyst/ Asst. Manager - Global Comme...,https://www.naukri.com/job-listings-Business-A...
41,Asterion Consulting Pvt. Ltd,1 day ago,10-20 yrs,250219002257,"Data Science, Machine Learning, Project Planni...",Bengaluru,Not disclosed,Senior Consultant (machine Learning & Data Sci...,https://www.naukri.com/job-listings-Senior-Con...
42,CareerNet,13 days ago,6-9 yrs,210219900633,"Data Science, Selenium Webdriver, Machine Lear...",Bengaluru,Not disclosed,Senior Customer Success Specialist - Data Scie...,https://www.naukri.com/job-listings-Senior-Cus...
43,Naresh I Technologies,4 days ago,4-9 yrs,280119006091,"Data Science, Machine Learning, Big Data, R pr...",Hyderabad,Not disclosed,Data Science Trainer,https://www.naukri.com/job-listings-Data-Scien...
44,Sabre Travel Technologies Pvt. Ltd,5 days ago,5-8 yrs,270219005491,"c, c++, java, python, data science, microservi...",Bengaluru,"17,00,000 - 25,00,000 P.A.",Senior Operations Research / Data Science,https://www.naukri.com/job-listings-Senior-Ope...
45,Asterion Consulting Pvt. Ltd,1 day ago,8-13 yrs,220219008815,"data science, Machine learning, python, Deep L...",Bengaluru,Not disclosed,AVP - Data Science,https://www.naukri.com/job-listings-AVP-Data-S...
46,Crescendo Global Services,1 day ago,2-5 yrs,020319002371,Python,Gurgaon,"9,00,000 - 12,00,000 P.A.",Deputy Manager- (2-4 yrs )- Python/data Science,https://www.naukri.com/job-listings-Deputy-Man...
47,Karvy Insights Limited,6 days ago,3-5 yrs,280219006986,"Data Science, Survey Programmer, survey develo...",Delhi NCR(Hauz Khas),Not disclosed,Senior Executive Data Science,https://www.naukri.com/job-listings-Senior-Exe...
48,Impetus Career Consultants Private Limited,7 days ago,9-14 yrs,190618007851,"cloudera, hive, hbase, big data, data science,...",Pune,Not disclosed,Urgent Opening for Data Science for a Large MNC,https://www.naukri.com/job-listings-Urgent-Ope...
49,QuickXpert Infotech,4 days ago,8-13 yrs,250219001548,"machine learning, artificial intelligence, art...","Mumbai, Navi Mumbai, Thane",Not disclosed,"Data Scientist, Data Science Trainer for Weeke...",https://www.naukri.com/job-listings-Data-Scien...

In [20]:
#create a csv file
job_df.to_csv("jobs_datascience.csv",index=False)

In [ ]:
def get_attribute(parent,selector,attribute):
    if attribute == "text":
        val = parent.find_element_by_css_selector(selector).txt
    else:
        val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    return val
df = pd.DataFrame()
for job in parents:
    job_dict={
    "id":job.get_attribute("job_id"),
    "url":job.get_attribute("data-url"),
    "title":get_attribute(job,"li.desig","title")
    "company":get_attribute(job,"span.org","text")
    "experience":get_attribute(job,"span.exp","text")
    "location":get_attribute(job,"span.loc","text")
    "skills":get_attribute(job,"span.skill","text")    
    "salary":get_attribute(job,"span.salary","text") 
    "date":get_attribute(job,"span.date","text")
    }
    df = df.append(job_dict,ignore_index=True)

# Loop through multiple pages

In [29]:
for i in range(1,10):
    url = "https://www.naukri.com/data-science-jobs-%d" % (i)
    print(url)

https://www.naukri.com/data-science-jobs-1
https://www.naukri.com/data-science-jobs-2
https://www.naukri.com/data-science-jobs-3
https://www.naukri.com/data-science-jobs-4
https://www.naukri.com/data-science-jobs-5
https://www.naukri.com/data-science-jobs-6
https://www.naukri.com/data-science-jobs-7
https://www.naukri.com/data-science-jobs-8
https://www.naukri.com/data-science-jobs-9

In [21]:
5101/50

102.02

In [37]:
def get_attribute(parent,selector,attribute):
    try:
        if attribute == "text":
            val = parent.find_element_by_css_selector(selector).text
        else:
            val = parent.find_element_by_css_selector(selector).get_attribute(attribute)
    except:
        val = None
    return val

In [ ]:
import time
jobs_df = pd.DataFrame()
for i in range(1,10):
    url = "https://www.naukri.com/data-science-jobs-%d" % (i)
    browser.get(url)
    time.sleep(2)
    print(i)
    parents = browser.find_elements_by_css_selector('div.row[type="tuple"]')
    
    for job in parents:
        job_dict={
        "id":job.get_attribute("job_id"),
        "url":job.get_attribute("data-url"),
        "title":get_attribute(job,"li.desig","title"),
        "company":get_attribute(job,"span.org","text"),
        "experience":get_attribute(job,"span.exp","text"),
        "location":get_attribute(job,"span.loc","text"),
        "skills":get_attribute(job,"span.skill","text"),    
        "salary":get_attribute(job,"span.salary","text"), 
        "date":get_attribute(job,"span.date","text")
        }
        jobs_df = jobs_df.append(job_dict,ignore_index=True)

In [39]:
jobs_df.tail()

,company,date,experience,id,location,salary,skills,title,url
445,Engage IT Manpower Solutions Private Limited,30+ days ago,5-7 yrs,None,Bengaluru,Not disclosed,"deep learning, neural networks, predictive mod...",Machine Learning and Data Scientist,https://www.naukri.com/job-listings-Machine-Le...
446,Silverpeople,30+ days ago,8-13 yrs,None,Bengaluru,Not disclosed,"Retail, R, Python, SAS, Problem Solving, data ...",Senior Data Scientist - Retail,https://www.naukri.com/job-listings-Senior-Dat...
447,Sitel India Pvt Ltd,30+ days ago,10-12 yrs,None,Mumbai,Not disclosed,"Natural Language Processing, C, Java, Python, ...",Data Scientist (senior Manager) - Mumbai,https://www.naukri.com/job-listings-Data-Scien...
448,Sitel India Pvt Ltd,30+ days ago,5-7 yrs,None,Mumbai,Not disclosed,"Natural Language Processing, C, Java, Python, ...",Data Scientist (assistant Manager) - Mumbai,https://www.naukri.com/job-listings-Data-Scien...
449,DATA SEMANTICS PRIVATE LIMITED,30+ days ago,8-12 yrs,None,Bengaluru(Indira Nagar),"9,00,000 - 18,00,000 P.A.","Data Science, Data Warehousing, Business Intel...",Qlikview Architect,https://www.naukri.com/job-listings-Qlikview-A...

In [40]:
jobs_df.shape

(450, 9)